*{
    font-family: 'Montserrat', sans-serif;
}
html,
h1,
h2,
h3,
h4,
h5,
h6{
    color: black;
}
body{
    background: white;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid grey;
    line-height: 20px;
    color: dimgrey;
    font-size: 16px;
}
/* header
*/
header{
    background: aliceblue;
    height: 58px;
}
/* all in header
header *{

} -->

*/
header h2{
    margin-top: 9px;
}
/* header h2 a{

}
*/
header h2 a:hover{
    color: black;
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 17px;
}
header ul li a:hover{
    background: lightblue;
    transition: 0.5s;
    color: black;
}
header ul li ul{
    position: absolute;
    top: 58px;
    right: 0px;
    width: 108px;
    display: none;
    z-index: 11;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    background: aliceblue;
}
/*
Carousel
 */
.carousel-title{
    text-align: center;
    padding: 30px 0;
}
.carousel{
    height: 400px;
}
.carousel-inner, .carousel-item{
    height: 400px;
    border-radius: 2px;
}
.carousel-caption-hack h5{
    font-size: 2rem;
    font-weight: 500;
    background: grey;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
}
.carousel-caption-hack{
    position: absolute;
    right: 0%;
    bottom: 0.05rem;
    left: 0%;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    color: black;
    text-align: center;
    width: 100%;
}
.carousel-caption-hack h5 a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.carousel-caption-hack h5 a:hover{
    text-decoration: underline;
}
/*
Main
 */
.main-content h2{
    margin: 30px 0;
}
.main-content .post{
    margin-bottom: 30px;
}
.main-content .post-text{
    padding: 8px;
    background: #f3f3f3;
    border-radius: 3px;
}
.main-content .post-text h3{
    margin: 14px 0;
}
.main-content .post-text h3 a:hover{
    text-decoration: underline;
    color: black;
}
.main-content .post-text i{
    margin: 0px 16px 16px 0;
}
/*
Sidebar
 */
.search{
    margin-top: 98px;
}
.sidebar .section{
    background: #f3f3f3;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.sidebar .categories ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid darkgrey;
}
.sidebar .categories ul li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid darkgrey;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 18px;
}
.sidebar .categories ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}
/*
Footer
 */

.footer{
    background: #1f1f1f;
    color: white;
    position: relative;
}
.footer .footer-section{
    padding: 22px;
}
.footer .about h3{
    padding-top: 22px;
    color: white;
}
.footer .contact {
    padding-top: 35px;
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    text-align: right;
}
.footer .socials{
    text-align: center;
}
.footer .socials a{
    width: 40px;
    height: 40px;
    padding-top: 25px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    transition: all .3s;
    color: white;
}
/*.footer .contact-form .contact-input{
    background: white;
    color: black;
    margin-bottom: 10px;
    line-height: 22px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid grey;
    width: 100%;
}
.footer .contact-form .contact-btn{
    float: right;
}

 */
/*
.footer .footer-bottom{
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
*/
/*
Single article
 */
.single-post{
    margin-bottom: 30px;
}
.single-post .info{
    margin: 20px 0;
}
.single-post .info i{
    display: inline-block;
    margin-right: 20px;
}
.single-post .text a{
    text-decoration: underline;
}
.single-post .text a:hover{
    text-decoration: none;
    color: slategrey;
}
/*
Reg form
 */
.reg-form{
    margin-bottom: 30px;
}
.reg-form h2{
    text-align: center;
    margin: 30px 0;
}
.reg-form .btn{
    transition: 0.3s;
}
.reg-form .btn:hover{
    transition: 0.3s;
    color: darkgrey;
}
/*
Forms
 */
form div.err p{
    color: indianred;
    font-size: 14px;
}